langgraph
langgraph-cli
langgraph-sdk
langchain
langchain_community
langchain_core
langchain_anthropic
langchain_openai
langchain_ollama
langchain_deepseek
tavily-python
wikipedia
youtube_search
uvicorn[standard]
fastapi
python-dotenv
copilotkit

